<!-- ko ifnot: window.checkoutConfig.custom_extra_fee == 0 OR window.checkoutConfig.is_enable_fee == 0 OR window.checkoutConfig.is_asembly == 0 -->
<tr class="totals border-gray">
    <th class="mark" scope="row">
        <span class="label" data-bind="text: title"></span>
        <span class="value" data-bind="text: getValue()"></span>
    </th>
    <td class="amount">
        <span class="price"
              data-bind="text: getValue(), attr: {'data-th': title}"></span>
    </td>
</tr>
<!-- /ko -->
 